# Root
.env
.DS_Store
dist

# Python virtual envs
.venv/
venv/
backend/.venv/
backend/venv/

# PIDs
*.pid

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
frontend/.next/
frontend/.turbo/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Others
coverage/
.idea/
.vscode/
*.log
*.tsbuildinfo
